
@import "tailwindcss";

/* Defining CSS custom properties for light theme (default) */
:root {
  --color-background: 255 255 255; /* white */
  --color-foreground: 0 0 0; /* black */

  --gray: #d1d5dc;

  --dark-gray: #364153;
}

/* Defining CSS custom properties for dark theme */
:root.dark {
  --color-background: 36 37 53; /* #242535 */
  --color-foreground: 255 255 255; /* white */

  --dark-gray: #99a1af;
  --gray: #4a5565;
}

/* Applying the custom properties to utility classes */
@layer utilities {
  .bg-background {
    background-color: rgb(var(--color-background));
  }
  
  .text-foreground {
    color: rgb(var(--color-foreground));
  }

  .dark-gray {
    color: var(--dark-gray);
  }

  .gray {
    color: var(--gray);
  }

  .border-gray {
    color: var(--gray);
  }
}