@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* Defining CSS custom properties for light theme (default) */
:root {
  --color-background: 255 255 255; /* white */
  --color-foreground: 0 0 0; /* black */

  --gray: #d1d5dc;
  --blue: #1447e6;

  --dark-gray: #364153;

  --bg-gray: #f3f4f6;
}

/* Defining CSS custom properties for dark theme */
:root.dark {
  --color-background: 36 37 53; /* #242535 */
  --color-foreground: 255 255 255; /* white */

  --dark-gray: #99a1af;

  --gray: #4a5565;
  --blue: #2b7fff;

  --bg-gray: oklch(37.3% 0.034 259.733);
}

/* Applying the custom properties to utility classes */
@layer utilities {
  .bg-background {
    background-color: rgb(var(--color-background));
  }

  .bg-gray {
    background-color: var(--bg-gray);
  }
  
  .text-foreground {
    color: rgb(var(--color-foreground));
  }

  .dark-gray {
    color: var(--dark-gray);
  }

  .gray {
    color: var(--gray);
  }

  .text-blue {
    color: var(--blue);
  }

  .border-gray {
    border-color: var(--gray);
    inherits: none;
  }

  /* Overriding typography text color to use the foreground variable */
  .prose, 
  .prose h1, 
  .prose h2, 
  .prose h3, 
  .prose h4, 
  .prose h5, 
  .prose h6, 
  .prose strong, 
  .prose p, 
  .prose li, 
  .prose blockquote {
    color: rgb(var(--color-foreground)) !important;
  }
}